<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Twimg Save</title>
    <script src="../src/index.js"></script>
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <!-- status card -->
    <div class="status_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Status: <span id="status_text"></span></h2>
      </div>
    </div>

    <!-- target sns -->
    <div class="target_sns_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">ターゲットSNS: <span id="sns_type"></span></h2>
      </div>
    </div>

    <!-- url input -->
    <div class="url_input_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="url_input_area mdl-textfield mdl-js-textfield">
          <input type="text" id="url_input" class="mdl-textfield__input url_input_parts url_input_input">
          <label class="mdl-textfield__label url_input_parts" for="url_input">URL</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border confirm_button_area">
        <input type="button" value="Download!" id="confirm" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">

      </div>
    </div>

    <!-- category area -->
    <div id="categorys_area" class="category_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="category_select_area">
          <select name="category_select" class="category_select" id="category_select">
          </select>
          <span class="select_highlight"></span>
          <span class="select_bar"></span>
          <label class="select_label">カテゴリ</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border category_button_area">
        <input type="button" value="追加" id="add_category_button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <input type="button" value="編集" id="edit_category_button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <input type="button" value="保存先を開く" id="open_current_category_folder" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      </div>
    </div>

    <!-- category add popup -->
    <div id="category_add_popup" class="fadeinout popup">
      <div id="category_add_popup_content" class="mdl-shadow--2dp popup_content">
        <!-- Close Button-->
        <input type="button" value="Close" id="add_category_close" class="popup_close_button">
        <label id="add_category_close_label" for="add_category_close" class="popup_close_label">
          <i class="material-icons">
            close
          </i>
        </label>
        <!-- Popup Title -->
        <h1>カテゴリ新規作成</h1>
        <span id="error_display"></span>
        <!-- Input Name -->
        <div class="add_category_name_input_area category_name_input_area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input type="text" id="add_category_name_input" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="add_category_name_input">カテゴリ名</label>
        </div>
        <!-- Input folder path -->
        <div class="add_category_folder_path_input_area category_folder_path_input_area mdl-textfield mdl-js-textfield">
          <input type="text" id="add_category_folder_path_input" class="mdl-textfield__input category_folder_path_input">
          <label class="mdl-textfield__label category_folder_path_input_label" for="add_category_folder_path_input">保存先フォルダ</label>
          <button id="add_category_select_save_directory" class="select_save_directory_button">
            <i class="material-icons">
              folder
            </i>
          </button>
        </div>
        <!-- confirm button -->
        <input type="button" value="追加!" id="add_category_confirm" class="confirm_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      </div>
    </div>

    <!-- category edit popup -->
    <div id="category_edit_popup" class="fadeinout popup">
      <div id="category_edit_popup_content" class="mdl-shadow--2dp popup_content">
        <!-- Close Button-->
        <input type="button" value="Close" id="edit_category_close" class="popup_close_button">
        <label id="edit_category_close_label" for="edit_category_close" class="popup_close_label">
          <i class="material-icons">
            close
          </i>
        </label>
        <!-- Popup Title -->
        <h1>カテゴリの編集</h1>
        <span id="error_display"></span>
        <!-- Input Name -->
        <div class="edit_category_name_input_area category_name_input_area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input type="text" id="edit_category_name_input" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="edit_category_name_input">カテゴリ名</label>
        </div>
        <!-- Input folder path -->
        <div class="edit_category_folder_path_input_area category_folder_path_input_area mdl-textfield mdl-js-textfield">
          <input type="text" id="edit_category_folder_path_input" class="mdl-textfield__input category_folder_path_input">
          <label class="mdl-textfield__label category_folder_path_input_label" for="edit_category_folder_path_input">保存先フォルダ</label>
          <button id="edit_category_select_save_directory" class="select_save_directory_button">
            <i class="material-icons">
              folder
            </i>
          </button>
        </div>
        <!-- confirm button -->
        <input type="button" value="保存!" id="edit_category_confirm" class="confirm_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        <input type="button" value="削除" id="delete_category_confirm" class="delete_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      </div>
    </div>

    <!-- confirm popup -->
    <div id="category_delete_confirm_popup" class="fadeinout popup">
      <div class="popup_content mdl-shadow--2dp">
        <div class="category_delete_confirm_popup_content">
          <h1>このカテゴリを削除しますか？</h1>
        </div>
        <div class="confirm_button_area">
          <input type="button" value="やめとく" id="delete_cancel" class="confirm_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          <input type="button" value="おk" id="delete_comfirm" class="delete_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        </div>
      </div>
    </div>

    <!-- check clipboard? -->
    <div class="option_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="switch_area">
          <div class="switch_button">
            <input type="checkbox" id="is_check_clipboard" class="checkbox_switch">
            <label class="checkbox_label" for="is_check_clipboard">
              <span></span>
            </label>
          </div>
          <label class="switch_label" for="is_check_clipboard">
            <span>クリップボードを監視してURLセットする？</span>
          </label>
        </div>
      </div>
    </div>
    <!-- Unlimited Donwload -->
    <div class="option_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="switch_area">
          <div class="switch_button">
            <input type="checkbox" id="is_unlimited_download" class="checkbox_switch">
            <label class="checkbox_label" for="is_unlimited_download">
              <span></span>
            </label>
          </div>
          <label class="switch_label" for="is_unlimited_download">
            <span>自動保存モード</span>
          </label>
        </div>
      </div>
    </div>
    <!-- settings button -->
    <div class="option_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="button_area">
          <div class="button_area_content">
            <input type="button" id="settings_button" style="display: none;">
            <label class="icon_button mdl-button mdl-js-button mdl-button--icon settings_button_label" for="settings_button">
              <i class="material-icons">settings_applications</i>
            </label>
          </div>
          <label class="button_label" for="settings_button">
            <span>設定</span>
          </label>
        </div>
      </div>
    </div>
    <!-- settings popup -->
    <div id="settings_popup" class="fadeinout popup">
      <div id="settings_popup_content" class="mdl-shadow--2dp popup_content">
        <!-- Close Button-->
        <input type="button" value="Close" id="settings_close" class="popup_close_button">
        <label id="settings_close_label" for="settings_close" class="popup_close_label">
          <i class="material-icons">
            close
          </i>
        </label>
        <!-- Popup Title -->
        <h1>設定</h1>
        <span id="settings_error_display"></span>
        <h2>全体設定</h2>
        <!-- Input categorys dir -->
          <div class="settings_categorys_dir_input_area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="text" id="settings_categorys_dir_input" class="mdl-textfield__input settings_dir_input">
            <label class="mdl-textfield__label settings_dir_input_label" for="settings_categorys_dir_input">category.jsonの場所</label>
            <button id="settings_select_categorys_dir" class="select_save_directory_button">
              <i class="material-icons">
                folder
              </i>
            </button>
          </div>
        <!-- clipboard check main setting -->
        <div class="settings_switch_area">
          <label for="settings_is_clipboard_check" class="settings_switch_text_column_box">
            <span class="settings_switch_text">クリップボード監視の主電源</span>
            <span class="settings_switch_sub_text">(適用にはソフトの再起動が必要です)</span>
          </label>
          <label class="settings_switch mdl-switch mdl-js-switch mdl-js-ripple-effect" id="settings_switch_label_clipboard_check" for="settings_is_clipboard_check">
            <input type="checkbox" id="settings_is_clipboard_check" class="mdl-switch__input">
            <span class="mdl-switch__label"></span>
          </label>
        </div>
        <!-- filename domain -->
        <div class="settings_switch_area">
          <label for="settings_is_filename_domain" class="settings_switch_text_column_box">
            <span class="settings_switch_text">保存時のファイル名にドメインを含める</span>
            <span class="settings_switch_sub_text">(分散SNSのみに適用されます)</span>
          </label>
          <label class="settings_switch mdl-switch mdl-js-switch mdl-js-ripple-effect" id="settings_switch_label_filename_domain" for="settings_is_filename_domain">
            <input type="checkbox" id="settings_is_filename_domain" class="mdl-switch__input">
            <span class="mdl-switch__label"></span>
          </label>
        </div>
        <h2>通知設定</h2>
        <!-- all notification -->
        <div class="settings_switch_area">
          <label for="settings_all_notification" class="settings_switch_text_column_box">
            <span class="settings_switch_text">すべての通知</span>
          </label>
          <label class="settings_switch mdl-switch mdl-js-switch mdl-js-ripple-effect" id="settings_switch_label_all_notification" for="settings_all_notification">
            <input type="checkbox" id="settings_all_notification" class="mdl-switch__input">
            <span class="mdl-switch__label"></span>
          </label>
        </div>
        <!-- all end notification -->
        <div class="settings_switch_area">
          <label for="settings_all_end_notification" class="settings_switch_text_column_box">
            <span class="settings_switch_text">完了通知</span>
          </label>
          <label class="settings_switch mdl-switch mdl-js-switch mdl-js-ripple-effect" id="settings_switch_label_end_notification"for="settings_all_end_notification">
            <input type="checkbox" id="settings_all_end_notification" class="mdl-switch__input">
            <span class="mdl-switch__label"></span>
          </label>
        </div>
        <!-- copy notification -->
        <div class="settings_switch_area">
          <label for="settings_copy_notification" class="settings_switch_text_column_box">
            <span class="settings_switch_text">コピー通知</span>
          </label>
          <label class="settings_switch mdl-switch mdl-js-switch mdl-js-ripple-effect" id="settings_switch_label_copy_notification" for="settings_copy_notification">
            <input type="checkbox" id="settings_copy_notification" class="mdl-switch__input">
            <span class="mdl-switch__label"></span>
          </label>
        </div>
        <!-- auto download start notification settings -->
        <div class="settings_switch_area">
          <label for="settings_auto_download_start_notification" class="settings_switch_text_column_box">
            <span class="settings_switch_text">自動保存モード時の開始通知</span>
          </label>
          <label class="settings_switch mdl-switch mdl-js-switch mdl-js-ripple-effect" id="settings_switch_label_auto_download_start_notification" for="settings_auto_download_start_notification">
            <input type="checkbox" id="settings_auto_download_start_notification" class="mdl-switch__input">
            <span class="mdl-switch__label"></span>
          </label>
        </div>
        <!-- auto download end notification settings -->
        <div class="settings_switch_area">
          <label for="settings_auto_download_end_notification" class="settings_switch_text_column_box">
            <span class="settings_switch_text">自動保存モード時の完了通知</span>
          </label>
          <label class="settings_switch mdl-switch mdl-js-switch mdl-js-ripple-effect" id="settings_switch_label_auto_download_end_notification" for="settings_auto_download_end_notification">
            <input type="checkbox" id="settings_auto_download_end_notification" class="mdl-switch__input">
            <span class="mdl-switch__label"></span>
          </label>
        </div>
        <!-- confirm button -->
        <input type="button" value="保存!" id="settings_confirm" class="confirm_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      </div>
    </div>
  </body>
</html>
