<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Twimg Save</title>
    <script src="../src/index.js"></script>
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <!-- status card -->
    <div class="status_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Status: <span id="status_text"></span></h2>
      </div>
    </div>

    <!-- target sns -->
    <div class="target_sns_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">ターゲットSNS: <span id="sns_type"></span></h2>
      </div>
    </div>

    <!-- url input -->
    <div class="url_input_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="url_input_area mdl-textfield mdl-js-textfield">
          <input type="text" id="url_input" class="mdl-textfield__input url_input_parts url_input_input">
          <label class="mdl-textfield__label url_input_parts" for="url_input">URL</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border confirm_button_area">
        <input type="button" value="Download!" id="confirm" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">

      </div>
    </div>

    <!-- category area -->
    <div id="categorys_area" class="category_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="category_select_area">
          <select name="category_select" class="category_select" id="category_select">
          </select>
          <span class="select_highlight"></span>
          <span class="select_bar"></span>
          <label class="select_label">カテゴリ</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border category_button_area">
        <input type="button" value="追加" id="add_category_button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <input type="button" value="編集" id="edit_category_button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <input type="button" value="保存先を開く" id="open_current_category_folder" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      </div>
    </div>

    <!-- category add popup -->
    <div id="category_add_popup" class="fadeinout popup">
      <div id="category_add_popup_content" class="mdl-shadow--2dp popup_content">
        <!-- Close Button-->
        <input type="button" value="Close" id="add_category_close" class="popup_close_button">
        <label id="add_category_close_label" for="add_category_close" class="popup_close_label">
          <i class="material-icons">
            close
          </i>
        </label>
        <!-- Popup Title -->
        <h1>カテゴリ新規作成</h1>
        <span id="error_display"></span>
        <!-- Input Name -->
        <div class="category_name_input_area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input type="text" id="add_category_name_input" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="add_category_name_input">カテゴリ名</label>
        </div>
        <!-- Input folder path -->
        <div class="category_folder_path_input_area mdl-textfield mdl-js-textfield">
          <input type="text" id="add_category_folder_path_input" class="mdl-textfield__input category_folder_path_input">
          <label class="mdl-textfield__label category_folder_path_input_label" for="add_category_folder_path_input">保存先フォルダ</label>
          <button id="add_category_select_save_directory" class="select_save_directory_button">
            <i class="material-icons">
              folder
            </i>
          </button>
        </div>
        <!-- confirm button -->
        <input type="button" value="追加!" id="add_category_confirm" class="confirm_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      </div>
    </div>

    <!-- category edit popup -->
    <div id="category_edit_popup" class="fadeinout popup">
      <div id="category_edit_popup_content" class="mdl-shadow--2dp popup_content">
        <!-- Close Button-->
        <input type="button" value="Close" id="edit_category_close" class="popup_close_button">
        <label id="edit_category_close_label" for="edit_category_close" class="popup_close_label">
          <i class="material-icons">
            close
          </i>
        </label>
        <!-- Popup Title -->
        <h1>カテゴリの編集</h1>
        <span id="error_display"></span>
        <!-- Input Name -->
        <div class="category_name_input_area mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input type="text" id="edit_category_name_input" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="edit_category_name_input">カテゴリ名</label>
        </div>
        <!-- Input folder path -->
        <div class="category_folder_path_input_area mdl-textfield mdl-js-textfield">
          <input type="text" id="edit_category_folder_path_input" class="mdl-textfield__input category_folder_path_input">
          <label class="mdl-textfield__label category_folder_path_input_label" for="edit_category_folder_path_input">保存先フォルダ</label>
          <button id="edit_category_select_save_directory" class="select_save_directory_button">
            <i class="material-icons">
              folder
            </i>
          </button>
        </div>
        <!-- confirm button -->
        <input type="button" value="追加!" id="edit_category_confirm" class="confirm_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      </div>
    </div>

    <!-- check clipboard? -->
    <div class="option_card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="switch_area">
          <div class="switch_button">
            <input type="checkbox" id="is_check_clipboard" class="checkbox_switch">
            <label class="checkbox_label" for="is_check_clipboard">
              <span></span>
            </label>
          </div>
          <label class="switch_label" for="is_check_clipboard">
            <span>クリップボードを監視してURLセットする？</span>
          </label>
        </div>
      </div>
    </div>
  </body>
</html>
