/* cards */
.status_card,
.target_sns_card,
.url_input_card,
.option_card,
.category_card{
  margin-right:auto;
  margin-left:auto;
  width: 90%;
  margin-bottom: 8px;
  padding: 12px;
}


.status_card.mdl-card,
.target_sns_card.mdl-card,
.url_input_card.mdl-card,
.option_card.mdl-card,
.category_card.mdl-card{
  min-height: 20px;
}

.mdl-card__title-text,
#status_text{
  display: inline-block;
}

.mdl-card__title{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.mdl-card__title-text{
  font-size: 16px;
}

/* clipboard switch */
.check_clipboard_switch{
  display: block;
}

.switch_button{
  min-width: 30px;
}

.checkbox_switch{
  display: none;
}

.checkbox_label{
  display: block;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid #ccc;
  height: 30px;
  font-size: 10px;
  line-height: 28px;
  font-weight: bold;
  background: #eee;
  box-shadow: 2px 2px 4px #888;
  transition: .3s;
}

.checkbox_label span:after{
  content: "OFF";
  color: #aaa;
}

.checkbox_switch:checked + .checkbox_label{
  background: #78bd78;
  box-shadow: none;
}

.checkbox_switch:checked + .checkbox_label span:after{
  content: "ON";
  color: #fff;
}

.switch_area{
  display: flex;
}

.switch_label{
  margin-top: 0;
  margin-bottom:0;
  margin-left: 8px;
  margin-right: 8px;
}

/* fix mdl styles */
.mdl-textfield__label:after{
  background-color: #5BE0E8;
}

.mdl-button.mdl-button--colored{
  color: #5BE0E8
}

/* add category dialog */
.popup{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
}
.popup_content{
  margin: 5% auto;
  background: #fff;
  width: 80%;
  height: fit-content;
  padding: 10px 20px 20px 20px;
  position: relative;
}

.popup_close_button{
  display: none;
}

.popup_close_label{
  position: absolute;
  top: 14px;
  right: 18px;
  color: #5BE0E8;
}

.popup_content > h1{
  font-size: 24px;
  margin: 0;
}

.category_folder_path_input_label,
.category_folder_path_input{
  width: calc(100% - 30px);
  margin-right: 4px;
}

.select_save_directory_button{
  width: 24px;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  border-style: none;
  background: transparent;
}

.select_save_directory_button,
.popup_close_label{
  transition: all .2s;
  -webkit-transition: all .2s;
}

.select_save_directory_button:hover,
.select_save_directory_button:focus,
.popup_close_label:hover,
.popup_close_label:focus{
  background-color: rgba(158,158,158,.2);
}

.select_save_directory_button > i{
  color: #5BE0E8;
}

.category_folder_path_input_area{
  position: relative;
  display: flex;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
  color: #5BE0E8;
}

.confirm_button{
  color: #FFF !important;
  background: #5BE0E8 !important;
}

#error_display{
  color: red;
}

.category_name_input_area,
.category_folder_path_input_area{
  width: 100%;
}

/* category select */
.category_select_area{
  position: relative;
  padding: 14px 0 14px 0;
}

.category_select{
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.category_select:focus{
  outline: none;
  border-bottom: 1px solid rgba(0,0,0, 0);
}

.category_select_area .category_select{
  appearance: none;
  -webkit-appearance: none;
}

.category_select_area:after{
  position: absolute;
  top: 34px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0,0,0, 0.12);
  pointer-events: none;
}

.select_label{
  color: rgba(0,0,0, 0.26);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
}

.category_select:focus ~ .select_label,
.category_select:valid ~ .select_label{
  color: #5BE0E8;
  top: -2px;
  transition: 0.2s ease all;
  font-size: 14px;
}

.select_bar{
  position: relative;
  display: block;
  width: 100%;
}

.select_bar:before,
.select_bar:after{
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5BE0E8;
  transition: 0.2s ease all;
}

.select_bar:before{
  left: 50%;
}

.select_bar:after{
  right: 50%;
}

.category_select:focus ~ .select_bar:before,
.category_select:focus ~ .select_bar:after{
	width: 50%;
}

.select_highlight{
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* fix button area */
.confirm_button_area,
.category_button_area{
  padding:  4px 8px;
}

.url_input_card,
.category_card{
  padding: 0px;
}

/* fix border */
.url_input_area,
.url_input_parts,
.category_select_area{
  margin-right:auto;
  margin-left:auto;
}

.url_input_area,
.category_select_area{
  width: 90%;
  text-align: center;
  display: block;
}

.category_select_area{
  margin-top: 12px
}

/* animation */
.fadeinout{
  transition: opacity 0.8s, visibility 0.8s;
  opacity: 0;
  visibility: hidden;
}

.fadeinout.is_show{
  opacity: 1;
  visibility: visible;
}


body{
}
